<%= breadcrumbs([
  link("Staff Directory", to: staff_user_path(@conn, :index)),
  content_tag(:li, gettext("New Staff"), class: "active", "aria-current": "page")
]) %>

<header>
  <h2>New Staff</h2>
</header>


<%= render "form.html", Map.put(assigns, :action, staff_user_path(@conn, :create)) %>

<span><%= link "Back", to: staff_user_path(@conn, :index) %></span>
