<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Exgradebook!</title>
    <%= render "style_dependencies.html", conn: @conn %>
  </head>

  <body>
    <div class="container">

      <%= render "student_nav.html", conn: @conn %>
      <%= render "flashes.html", conn: @conn %>

      <main role="main" class="container">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <%= render "javascript_dependencies.html", conn: @conn %>
  </body>
</html>
