<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Gradebook" %></h2>
  <p class="lead">
    <%= link gettext("Staff Sign-in"), to: staff_session_path(@conn, :new) %><br>
    <%= link gettext("Student Sign-in"), to: staff_session_path(@conn, :new) %>
  </p>
</div>
